# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# Virtualenv
.venv/
venv/
env/

# Ambiente
.env
.env.local
*.log

# IDE
.vscode/
.idea/

# Test / coverage
.pytest_cache/
.coverage
htmlcov/
.venv/

# DB locale di sviluppo (SQLite)
*.db
